<p id="notice"><%= notice %></p>

<h1>Olaboga! Chaos w filmach?</h1>
<p>Uporządkuj swoją listę filmów.</p>
<br />
<div>[Tu będzie filmik?]</div>
<br />
<% if !current_user %>
	<h2><%= link_to 'Zarejestruj się!', new_user_path %></h2>
	<div>i zacznij układać swoje filmy w spersonalizowane kategorie.</div>
<% end %>