<p id="notice"><%= notice %></p>

<h1>???Nowy film???</h1>

<p> Tu powinny przyjść informacje o filmie z movie#new (movie#create).<br />
Tutaj do tych danych doda się opis własny filmu + zaznaczy, czy jest obejrzany.<br />
Utworzenie nowego statusu jest dla użytkownika równoznaczne z dodaniem filmu do jego listy filmów.
</p>

<%= render 'form' %>

<%= link_to 'Wstecz', statuses_path %>
