

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



html {
	overflow-y: scroll;
	background-color:#9dc9b8;
	height: 100%;
}

body {
	height: 100%;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif
}

header {
	margin:0;
	padding:0;
	width:100%;
	height:580px;
	background-color:#4d3f3e;
	left:0;
	top:0;
}

header nav {
	width:520px;
	height:50px;
	background-color:#9dc9b8;
	margin-top:-5px;
	margin-left:auto;
	margin-right:auto;
	-o-border-radius: 0px 0px 30px 30px; 
	-webkit-border-radius: 0px 0px 30px 30px; /* Safari, Chrome */
    -khtml-border-radius: 0px 0px 30px 30px;    /* Konqueror */
    -moz-border-radius: 0px 0px 30px 30px; /* Firefox */
	border-radius: 0px 0px 30px 30px;
	border: 5px solid #ecdfd9;
	border-top:0;
}

nav ul{
	display:inline;
	padding:5px;
}

nav li{
	display:inline;
	color:#ebe1d5;
}

#logo{
	height:110px;
	float:left;
}

#textlogo {
	width:125px;
	margin-left:10px;
	float:left;
	margin-top:14px;
	text-align:center;
	font-size:26px;
	font-family: 'Lobster', cursive;
	color:#4d3f3e;
}

.menu_symb {
	display:inline-block;
	width:30px;
	height:30px;
	margin:8px;
}

#home {background:url(/assets/symbole_sprite.png) 0px 0px;}
#profil {background:url(/assets/symbole_sprite.png) -90px 0px;}
#wyszukaj {background:url(/assets/symbole_sprite.png) -60px -30px;}
#lista_filmow {background:url(/assets/symbole_sprite.png) -30px -30px;}
#pomoc {background:url(/assets/symbole_sprite.png) -120px 0px;}
#logowanie_in {background:url(/assets/symbole_sprite.png) -179px 0px;}
#logowanie_out {background:url(/assets/symbole_sprite.png) -149px 0px;}

#home:hover  {background:url(/assets/symbole_sprite.png) 0px -60px;}
#profil:hover {background:url(/assets/symbole_sprite.png) -90px -60px;}
#wyszukaj:hover  {background:url(/assets/symbole_sprite.png) -60px -60px;}
#lista_filmow:hover  {background:url(/assets/symbole_sprite.png) -30px -60px;}
#pomoc:hover  {background:url(/assets/symbole_sprite.png) -120px -60px;}
#logowanie_in:hover  {background:url(/assets/symbole_sprite.png) -149px -60px;}
#logowanie_out:hover  {background:url(/assets/symbole_sprite.png) -179px -60px;}





section {
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
	color:#4d3f3e;
}

article {
	margin-left:auto;
	margin-right:auto;
	max-width:700px;
	color:#4d3f3e;
}

#main {
	margin-top:50px;
}





#hist {
	height:500px;
	width:520px;
	margin-top:-500px;
	transition: margin-top 0.5s ease-in-out;
	-webkit-transition: margin-top 0.5s ease-in-out;
	-moz-transition: margin-top 0.5s ease-in-out;
	-o-transition: margin-top 0.5s ease-in-out;
	-khtml-transition: margin-top 0.5s ease-in-out;
}

#hist:target {
	margin-top:0px;
}

#hist_in{
	background-color:#9dc9b8;
	border-radius: 10px 10px 0px 0px;
	border: 5px solid #ecdfd9;
	border-bottom:0;
	height:420px;
	width:500px;
	position:absolute;
	margin-left:-5px;
	margin-top:60px;
	padding:10px;
	padding-bottom:0;
}

#hist1 {
	width:108px;
	height:370px;
	float:left;
	padding:10px;
	background:#dfe0ca;
	text-align:center;
}

#hist1 a{
	color:#4d3f3e;
	font-size:11px;
}

#hist2 {
	width:47px;
	height:452px;
	float:left;
	background-color:#ff474e;
	border-left:3px solid #ff9599;
	border-right:3px solid #ff9599;
	margin-top:-32px;
}
#rog{
	position:relative;
	margin-left:-20px;
}
#hist3 {
	width:297px;
	height:370px;
	padding:10px;
	float:left;
	background:#dfe0ca;
	text-align:justify;
}


footer {
	position:fixed;
	bottom:0;
	background-color:#4d3f3e;
	width:100%;
	padding-top:2px;
	border:5px solid #4d3f3e;
	text-align:center;
	font-size:8px;
	letter-spacing:1px;
}

footer li {
	padding:0 10px;
}

footer a {
	font-size:10px;
	text-decoration:none;
	font-weight:bold;
}

footer a:hover {
	color:#ff474e;
}

.form_submit {
	background-color:#ff474e;
	color:#ebe1d5;
	width:215px;
	padding:5px;
	font-weight:bold;
	border: 1px solid #ff474e; 
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px;    /* Konqueror */
    -moz-border-radius: 10px; /* Firefox */
    -o-border-radius: 10px; /* Opera */
  	border-radius: 10px;
}
.form_submit:hover{
	color:#fff;
	border:1px solid #4d3f3e;
}

input, textarea {
	width:210px;
	padding:3px;
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px;    /* Konqueror */
    -moz-border-radius: 10px; /* Firefox */
    -o-border-radius: 10px; /* Opera */
  	border-radius: 10px;
  	border: 1px solid #4d3f3e; 
	margin:auto;
}

textarea {
	width:420px;
	height:105px;
	position:relative;
	margin-left:-85px;
}

tr {
	background-color:#CFE8DF;
}




.wysun {
	display:none;
}

.guzik
{
    width:30px;
    height:30px;
	background:url(/assets/symbole_sprite.png) -358px -60px;
	margin:auto;
}

.guzikk
{
    width:30px;
    height:30px;
	background:url(/assets/symbole_sprite.png) -327px -60px;
	margin:auto;
}


  
.lista_tabela {
    -webkit-border-radius: 30px; /* Safari, Chrome */
    -khtml-border-radius: 30px;    /* Konqueror */
    -moz-border-radius: 30px; /* Firefox */
    -o-border-radius: 30px; /* Opera */
	background-color:#665754;
	color:#ecdfd9;
	border:5px solid #ecdfd9;
	width:520px;
	margin:auto;
}

table {
	width:100%;
	background-color: #E3E1D5;
	color:#4d3f3e;
	text-align:left;
	border: 4px solid #665754;
}

tr {
	border: 1px solid #4d3f3e;
	background-color: #ebe1d5;
}

td,th {
	padding-left:5px;
}

.x {
	display:block;
	width:34px;
	height:20px;
	background:url(/assets/x.png);
	background-position:center;
	background-repeat:no-repeat;
}
