// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seen {
	width:30px;
	height:30px;
	background:url(/assets/symbole_sprite.png) -267px -30px;
}
.unseen {
	width:30px;
	height:30px;
	background:url(/assets/symbole_sprite.png) -298px -60px;
}