<!DOCTYPE html>
<html>
<head>
  <title>Interfejs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

    
    <nav>
        <ul>
            <li>Profil</li>
            <li>Wyszukaj</li>
            <li>Lista filmów</li>
            <li>Etykiety</li>
            <li>Pomoc</li>
            <li>Logowanie</li>        
        </ul>
    </nav>
</header>


<section>
	<%= yield %>
</section>

<footer>
<nav>
        <ul>
            <li>Profil</li>
            <li>Wyszukaj</li>
            <li>Lista filmów</li>
            <li>Etykiety</li>
            <li>Pomoc</li>
            <li>Logowanie</li>        
        </ul>
    </nav>
</footer>


</body>
</html>
